<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/styles.css">
  <title>카페 상품 목록</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div id="header">
  <img class="header-logo" src="../images/logo.png">
  <div class="header-text BM">ITC 카페</div>
</div>
<div class="menu-container">
  <a th:href="@{/products?category=IceCoffee}">
    <button class="menu-button hvr-underline-from-center">커피(Ice)</button> //여길 클릭하면 아이스커피 리스트로 가야함
  </a>
  <a th:href="@{/products?category=HotCoffee}">
    <button class="menu-button hvr-underline-from-center">커피(Hot)</button> //여기 클릭하면 핫커피 목록
  </a>
  <a th:href="@{/products?category=Beverage}">
    <button class="menu-button hvr-underline-from-center">음료</button> //여기 클릭하면 음료 리스트
  </a>
</div>
</body>
</html>
