<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="styels.css">
    <script src="https://kit.fontawesome.com/11b6c7d991.js" crossorigin="anonymous"></script>


</head>

<body>
<div id="header">
    <img class="header-logo" src="../images/logo.png">
    <div class="header-text hgg99">키오스크 주문</div>
</div>
<div class="menu-container">
    <button class="menu-button hvr-underline-from-center">커피(Ice)</button>
    <button class="menu-button hvr-underline-from-center">커피(Hot)</button>
    <button class="menu-button hvr-underline-from-center">음료</button>
</div>

<div class="product-container-bg">
    <div class="product-container" th:each="product : ${products}" th:data-page="${product.category}">
        <img th:src="${product.imageUrl}" alt="Product Image">
        <div th:text="${product.name}"></div>
        <div th:text="'₩' + ${product.price}"></div>
    </div>
</div>

<!-- The Modal -->
<!-- ... -->

<div class="footer">
    <div class="footer-info">
        <div class="footer-info-cart">
            <div class="cart-img">
                <img src="../images/cart.png" />
            </div>
            <div class="cart-text-wrapper">
                <div class="cart-text">
                    <div>카트</div>
                    <span class="cart-badge">0</span>
                </div>
                <div class="cart-line"></div>
                <div class="cart-price price">0</div>
            </div>
        </div>
        <div class="footer-info-pay">
            <a class="pay-button" href="#" role="button">
                <span>결제하기</span>
                <div class="icon">
                    <i class="fa fa-credit-card"></i>
                </div>
            </a>
        </div>
    </div>

    <div class="footer-cart">
        <table class="table-cart">
            <tr class="table-header">
                <th>제품명</th>
                <th>수량</th>
                <th>가격</th>
                <th>취소</th>
            </tr>
            <tr th:each="orderDetail : ${orderDetails}">
                <td th:text="${orderDetail.productName}"></td>
                <td th:text="${orderDetail.quantity}"></td>
                <td th:text="'₩' + ${orderDetail.price}"></td>
                <td><button>취소</button></td>
            </tr>
        </table>
    </div>
</div>

<!-- The Modal -->
<!-- ... -->

</body>

</html>
