<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
<h2>Order Details</h2>

<table>
    <thead>
    <tr>
        <th>Order Detail Code</th>
        <th>Orders Code</th>
        <th>Product Code</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderDetail : ${orderDetails}">
        <td th:text="${orderDetail.orderDetailCode}">Order Detail Code</td>
        <td th:text="${orderDetail.ordersCode}">Orders Code</td>
        <td th:text="${orderDetail.productCode}">Product Code</td>
        <td th:text="${orderDetail.ordersDetailsQTY}">Quantity</td>
    </tr>
    </tbody>
</table>
</body>
</html>
