<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="styles.css">

</head>

<body>
<div id="header">
    <img class="header-logo" src="../images/logo.png">
    <div class="header-text hgg99">메뉴를 선택하시오</div>

</div>
<div class="menu-container">
    <!-- 메뉴 버튼 추가 -->
    <button onclick="window.location.href='/kiosk/prductListL.html'" class="menu-button hvr-underline-from-center">커피(Ice)</button>
    <button onclick="window.location.href='/kiosk/prductList.html'" class="menu-button hvr-underline-from-center">커피(Hot)</button>
    <button onclick="window.location.href='/kiosk/prductList.html'" class="menu-button hvr-underline-from-center">음료</button>
</div>

<div class="product-container-wrapper">
    <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
        <div class="product-container" th:data-page="${product.category.categoryCode}">
        <img src="/images/카라멜마끼아또8.jpg" alt="Product Image">
        <div th:text="${product.productName}">카라멜마끼아또</div>
        <div th:text="'₩' + ${product.productPrice}">6000</div>
        </div>
    </a>

            <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                <div class="product-container" th:data-page="${product.category.categoryCode}">
        <img src="/images/메가초코7.jpg" alt="Product Image">
        <div th:text="${product.productName}">초코</div>
        <div th:text="'₩' + ${product.productPrice}">5000</div>
                </div>
            </a>


                    <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                        <div class="product-container" th:data-page="${product.category.categoryCode}">
        <img src="/images/카페모카9.jpg" alt="Product Image">
        <div th:text="${product.productName}">카페모카</div>
        <div th:text="'₩' + ${product.productPrice}">5000</div>
                        </div>
                    </a>
                            <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                                <div class="product-container" th:data-page="${product.category.categoryCode}">
        <img src="/images/카푸치노10.jpg" alt="Product Image">
        <div th:text="${product.productName}">카푸치노</div>
        <div th:text="'₩' + ${product.productPrice}">5500</div>
                                </div>
                            </a>

                                    <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                                        <div class="product-container" th:data-page="${product.category.categoryCode}">
    <img src="/images/바닐라라떼3.jpg" alt="Product Image">
    <div th:text="${product.productName}">바닐라라떼</div>
    <div th:text="'₩' + ${product.productPrice}">6000</div>
</div>
                                    </a>

                                            <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                                                <div class="product-container" th:data-page="${product.category.categoryCode}">
    <img src="/images/라임모히또1.png" alt="Product Image">
    <div th:text="${product.productName}">라임모히또</div>
    <div th:text="'₩' + ${product.productPrice}">5000원</div>
</div>
                                            </a>

                                                    <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                                                        <div class="product-container" th:data-page="${product.category.categoryCode}">
    <img src="/images/레몬에이드3.jpg" alt="Product Image">
    <div th:text="${product.productName}">레몬에이드</div>
    <div th:text="'₩' + ${product.productPrice}">5000원</div>
</div>


                                                            <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                                                                <div class="product-container" th:data-page="${product.category.categoryCode}">
    <img src="/images/리얼초코프라페4.jpg" alt="Product Image">
    <div th:text="${product.productName}">초코프라페</div>
    <div th:text="'₩' + ${product.productPrice}">6000원</div>
</button>

<<a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                                                                    <div class="product-container" th:data-page="${product.category.categoryCode}">
    <img src="/images/망고요거트스무디5.jpg" alt="Product Image">
    <div th:text="${product.productName}">망고요거트스무디</div>
    <div th:text="'₩' + ${product.productPrice}">6500</div>
                                                                    </div>
                                                                </a>

                                                                        <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                                                                            <div class="product-container" th:data-page="${product.category.categoryCode}">
    <img src="/images/복숭아아이스티10.gif" alt="Product Image">
    <div th:text="${product.productName}">복숭아아이스티</div>
    <div th:text="'₩' + ${product.productPrice}">3000</div>
                                                                            </div>
                                                                        </a>
                                                                                <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                                                                                    <div class="product-container" th:data-page="${product.category.categoryCode}">
    <img src="/images/꿀아메리카노1.jpg" alt="Product Image">
    <div th:text="${product.productName}">꿀아메리카노</div>
    <div th:text="'₩' + ${product.productPrice}">5000원</div>
                                                                                    </div>
                                                                                </a>
                                                                                        <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                                                                                            <div class="product-container" th:data-page="${product.category.categoryCode}">
    <img src="/images/바닐라라떼2.jpg" alt="Product Image">
    <div th:text="${product.productName}">바닐라라떼</div>
    <div th:text="'₩' + ${product.productPrice}">5000원</div>
                                                                                            </div>
                                                                                        </a>
                                                                                                <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                                                                                                    <div class="product-container" th:data-page="${product.category.categoryCode}">
    <img src="/images/바닐라아메리카노3.jpg" alt="Product Image">
    <div th:text="${product.productName}">바닐라아메리카노</div>
    <div th:text="'₩' + ${product.productPrice}">6000원</div>
                                                                                                    </div>
                                                                                                </a>
                                                                                                        <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                                                                                                            <div class="product-container" th:data-page="${product.category.categoryCode}">
    <img src="/images/아메리카노4.jpg" alt="Product Image">
    <div th:text="${product.productName}">아메리카노</div>
    <div th:text="'₩' + ${product.productPrice}">6500</div>
</button>

                                                                                                                <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                                                                                                                    <div class="product-container" th:data-page="${product.category.categoryCode}">
    <img src="/images/연유라떼5.jpg" alt="Product Image">
    <div th:text="${product.productName}">연유라떼</div>
    <div th:text="'₩' + ${product.productPrice}">3000</div>
</button>

                                                                                                                        <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                                                                                                                            <div class="product-container" th:data-page="${product.category.categoryCode}">
    <img src="/images/카라멜마끼아또6.jpg" alt="Product Image">
    <div th:text="${product.productName}">카라멜메마끼아또</div>
    <div th:text="'₩' + ${product.productPrice}">6500</div>
</button>

                                                                                                                                <a th:each="product : ${products}" th:href="@{'/product/detail/' + ${product.id}}">
                                                                                                                                    <div class="product-container" th:data-page="${product.category.categoryCode}">
    <img src="/images/카페라떼7.jpg" alt="Product Image">
    <div th:text="${product.productName}">카페라떼</div>
    <div th:text="'₩' + ${product.productPrice}">5000</div>
</button>
</div>
</div>

<!-- The Modal -->
<!-- ... -->

<div class="footer">
    <div class="footer-info">
        <!-- 카트 정보 표시 -->
        <div class="footer-info-cart">
            <!-- 카트 아이콘 및 카트 상품 개수, 가격 -->
            <div class="cart-img">
                <img src="../images/cart.png" />
            </div>
            <div class="cart-text-wrapper">
                <div class="cart-text">
                    <div>카트</div>
                    <span class="cart-badge" th:text="${cartItems.size()}">0</span>
                </div>
                <div class="cart-line"></div>
                <div class="cart-price price" th:text="'₩' + ${cartTotalPrice}">0</div>
            </div>
        </div>
        <div class="footer-info-pay">
            <!-- 결제하기 버튼 -->
            <a class="pay-button" href="#" role="button">
                <span>결제하기</span>
                <div class="icon">
                    <i class="fa fa-credit-card"></i>
                </div>
            </a>
        </div>
    </div>

    <div class="footer-cart">
        <table class="table-cart">
            <!-- 카트에 담긴 상품 목록 -->
            <tr class="table-header">
                <th>제품명</th>
                <th>수량</th>
                <th>가격</th>
                <th>취소</th>
            </tr>
            <tr th:each="orderDetail : ${cartItems}">
                <!-- 카트에 담긴 각 상품 정보 -->
                <td th:text="${orderDetail.product.productName}"></td>
                <td th:text="${orderDetail.quantity}"></td>
                <td th:text="'₩' + ${orderDetail.price}"></td>
                <td><button>취소</button></td>
            </tr>
        </table>
    </div>
</div>

<!-- The Modal -->
<!-- ... -->

</body>

</html>
