/* styles.css */

/* 전체 페이지 스타일 */
body {
    font-family: 'Noto Sans KR', sans-serif; /* 한글 폰트 설정 */
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* 배경색 설정 */
}


/* 헤더 스타일 */
#header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    height : 100px;
}

.header-logo {
    width: 70px;
}

.header-text {
    font-size: 24px;
    margin-top: 10px;
}

/* 메뉴 컨테이너 스타일 */
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff; /* 메뉴 배경색 설정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.menu-button {
    background-color: #8c6239; /* 버튼 배경색 설정 */
    color: #fff; /* 버튼 텍스트 색상 설정 */
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 호버 효과를 위한 전환 효과 */
}

.menu-button:hover {
    background-color: #5a3a20; /* 호버 시 배경색 변경 */
}
.product-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin-bottom: 170px; /* 푸터 높이만큼 여백 추가 */
}
/* 제품 컨테이너 스타일 */
.product-container {
    background-color: #fff; /* 제품 컨테이너 배경색 설정 */
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.product-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-container div {
    margin-top: 5px;
    text-align: center;
}

/* 푸터 스타일 */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; /* 푸터 높이 수정 */
    background-color: #8c6239;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1; /* 푸터를 상위 레이어로 표시 */
}


.footer-info {
    display: flex;
    align-items: center;
    width: 60%; /* 내부 영역 너비 조정 */
}

.footer-info-cart {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.cart-img img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.cart-text-wrapper {
    display: flex;
    flex-direction: column;
}

.cart-text {
    font-size: 14px;
}

.cart-badge {
    background-color: #ff9800;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
}

.cart-line {
    height: 1px;
    background-color: #777;
    margin: 5px 0;
}

.cart-price {
    font-size: 16px;
    font-weight: bold;
}

.footer-info-pay .pay-button {
    padding: 15px 30px; /* 버튼 패딩 조정 */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #555;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 200px; /* 버튼 너비 조정 */
    display: flex;
    justify-content: flex-end;
}

.footer-info-pay .pay-button:hover {
    background-color: #777;
}

/* 카트 목록 테이블 스타일 */
.table-cart {
    width: 100%;
    margin-bottom: 20px;
}

.table-header th {
    background-color: #555;
    color: white;
    padding: 8px;
    text-align: left;
}

.table-cart td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
}

.table-cart button {
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #555;
    color: white;
    transition: background-color 0.3s;
    width: 100px;
    height: 100px;
}

.table-cart button:hover {
    background-color: #777;
}
